[submodule "plugins/sms-conversation"]
	path = plugins/sms-conversation
	url = git@github.com:gegere/OpenVBX-Plugin-SMS-Conversation.git
[submodule "plugins/routes"]
	path = plugins/routes
	url = https://github.com/chadsmith/OpenVBX-Plugin-Routes.git
