[submodule "plugins/sms-conversation"]
	path = plugins/sms-conversation
	url = git@github.com:gegere/OpenVBX-Plugin-SMS-Conversation.git
[submodule "plugins/addressbook"]
	path = plugins/addressbook
	url = git@github.com:gegere/AddressBook-VBX.git
